*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: grid;
    grid-template-rows: 80px auto auto 80px;
}
header, footer{
    background-color: #000000;
    color: #ffffff;
    padding: 30px;
}
main{
    padding: 10px;
}
article{
    background-color: #d3d3d3;
    margin-bottom: 10px;
    padding: 10px;
}
article h2{
    font-size: 1.8em;
    margin: 20px 0;
}
article p{
    margin-bottom: 10px;
}
aside{
    background-color: #f0807f;
    padding: 10px 10px 30px;
}
aside h3{
    margin: 20px 0;
}
aside ul{
    list-style-type: disc;
    padding-left: 30px;
}

@media screen and (min-width: 768px) {
    body{
        grid-template-rows: 80px auto 80px;
        grid-template-columns: 70% 30%;
    }
    header, footer{
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 1024px) {
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 10px;
    }
    /** article{
        margin: 10px;
    } */
}
